<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <p>WELCOME TO STUDENT INFORMATION</p>
    <table style="border:1px solid black">
    <tr>
        <th>Student Name</th>
        <th>Student Marks</th>
        <th>Student Roll No</th>
        <th>Student ID</th>
    </tr>
    <tr>
        <td>  Siddharth Shah</td>
        <td>  78          </td>
        <td>  1           </td>
        <td>  A1          </td>
    </tr>
    <tr>
        <td>  Vipul Patel </td>
        <td>  90          </td>
        <td>  2           </td>
        <td>  A2
    </tr>
    <tr>
        <td>  Viren Mehta   </td>
        <td>  97.2            </td>
        <td>  3             </td>
        <td>  A3
    </tr>
    <tr>
        <td>  Nisarg Mehta  </td>
        <td>  99            </td>
        <td>  4             </td>
        <td> A4            </td>
    
</table>
</body>
</html>
